.container {
  margin-top: 10px;
  height: 800px;
  height: 600px;
  background-image: url(https://botostore.com/netcat_files/6/7/preview_153073_1611265323.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
